.apply-button {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 24px;
  cursor: pointer;
  margin-right: 8px;
}

.apply-button:hover {
  background-color: rgb(2, 70, 140);
}

.save-button {
  background-color: white;
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 24px;
  cursor: pointer;
}

.save-button:hover {
  background-color: rgb(226, 240, 254);
  border-width: 2px;
}